@model List<Clima.Application.Models.PrevisaoClimaModel>



<div class="box">
    <div class="box-header">
        <h3 class="box-title">Cidades mais quentes hoje</h3>
    </div>
    <div class="box-body no-padding">
        <table class="table table-condensed">
            @{ var rowColor = "#E6E6E6"; }
            @foreach (var item in Model)
            {
                <tr style="background-color:@rowColor;">

                    <td>
                        @Html.DisplayFor(modelItem => item.Cidade.Nome)/@Html.DisplayFor(modelItem => item.Cidade.Estado.UF)
                    </td>
                    <td>
                        Min @Html.DisplayFor(modelItem => item.TemperaturaMinima) ºC  &nbsp
                        Max @Html.DisplayFor(modelItem => item.TemperaturaMaxima) ºC

                    </td>

                </tr>
                if (@rowColor.Equals("#ffffff"))
                {
                    rowColor = "#E6E6E6";
                }
                else
                {
                    rowColor = "#ffffff";
                }
            }
        </table>
    </div>

</div>



