@{
    ViewBag.Title = "Contato";
}
<h2>@ViewBag.Title.</h2>
<address>
    <strong>Nome:</strong> Paulo Dorneles <br />
    <strong>Phone:</strong> (62) 982337689 <br />
    <strong>Email:</strong>   <a href="mailto:paulodorneles10@gmail.com">paulodorneles10@gmail.com</a><br />
</address>

